<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="utf-8">
            <meta name="description" content="My portfolio">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="Author" content="Daniel Martín Bernaldo de Quirós">
            <meta name="robots" content="index, follow">
            <link rel="Stylesheet" href="../CSS/Styles.css">
            <title>Donda designs</title>
        </head>
        <body>
            <header id="projects">
                <div class="logo">
                    <img src="../Images/Ddcopia.png" alt="dondadessigns">
                </div>
                <div>
                    <h1>Presupuestos</h1>
                </div>
                <nav>
                    <div><a href="../Index.html">Home</a></div>
                    <div><a href="Portfolio.html">Portfolio</a></div>
                    <div><a style="color:rgb(109, 47, 253)" href="Presupuestos.html">Presupuestos</a></div>
                    <div><a href="Contacto.html">Contacto</a></div>
                </nav>
            </header>
        <section class="sections" style="text-align: left; background-color: rgb(127, 24, 96);">
            <h2>Obtenga su presupuesto personalizado</h2>
            <p>Rellene el siguiente fomulario y, una vez analizado su caso, le contactaremos con un presupuesto a medida.</p>
            <form id="formulario" method="post">
                Nombre: <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                Apellidos: <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" required>
                Email: <input type="email" name="email" id="email" placeholder="example@mymail.com" required>
                Teléfono: <input type="tel" name="telefono" id="telefono" placeholder="Teléfono" required>
                Solicite más información: <textarea cols="50" rows="5" name="detalle" placeholder="Escriba aquí qué servicio desea contratar con el mayor detalle posible" required></textarea>
                <div>He leído y acepto la 
                    <a href="#" style="color: rgb(93, 130, 252); font-style: italic; text-shadow: 1px 1px black;">política de privacidad</a>
                    <input type="checkbox" required>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </section>

        <footer>
            <div class=mymedia><h3>Más sobre mí</h3></div>
            <div class="cajafoot">
                <div class="iconos">
                    <a href="https://instagram.com/dondadibus?igshid=ZDdkNTZiNTM=" title="instagram"><img src="../Images/Instagram-Icon.png" alt="insta" title="insta"></a>
                    <a href="https://es-es.facebook.com/" title="facebook"><img src="../Images/facebook.png" alt="facebook" title="facebook"></a>
                    <a href="https://twitter.com/?lang=es" title="twitter"><img src="../Images/twitter.png" alt="twitter" title="twitter"></a>
                </div>
                <div class="adress">
                    <h4>Dirección</h4>
                    <p>Calle Falsa 123 <br> Evergreen Terrace<br>Springfied</p>
                </div>
                <div class="legal">
                    <h4>Legal</h4>
                    <a href="#">About</a><br>
                    <a href="#">Privacy</a><br>
                    <a href="#">Cookies</a>
                </div>
            </div>                 
        </footer>